.navbar-collapse {
width: auto;
border-top: 0;
box-shadow: none;
}

.navbar-nav {
float: left;
margin: 0;
}

.nav > li
{
	float:left;
}

.navbar-nav>li>a {
padding-top: 15px;
padding-bottom: 15px;
}



.dropdown-menu, .dropdown-menu li, .dropdown-menu li a
{
 z-index:99999;
}

.dropdown-menu a
{
	color:#333;
}